NODE_ENV=development
PORT=3001
WEB_URL=http://localhost:3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=autodetail
DB_PASSWORD=autodetail_dev
DB_NAME=autodetail
DB_SSL=false
DB_MIGRATIONS_RUN=false
DB_LOGGING=false
DB_POOL_MAX=10
